@model IEnumerable<SolveMath.Models.Entities.Category>
<ul class="col-md-12 col-sm-4" style="display: block;">
    @foreach (var model in Model)
    {

        if (model.Categories.Count != 0)
        {
            <li class="dropdown dropdown-menu">
                @Html.ActionLink(model.Name, "Category", new { id = model.Id })
                @foreach (var subCategory in model.Categories)
                {
                    @Html.ActionLink(model.Name, "Category", new { id = model.Id })
                }
            </li>
        }
        else
        {
            
            <li>@Html.ActionLink(model.Name, "Category", new { id = model.Id })</li>
        }
    }
</ul>