@model IEnumerable<SolveMath.Models.ViewModels.CategoryNavbarViewModel>
@helper ShowCategoryTree(IEnumerable<SolveMath.Models.ViewModels.CategoryNavbarViewModel> categories,HashSet<string> names)
{
    <ul>
        @foreach (var category in categories)
        {
            if (!names.Contains(category.Name))
            {
                names.Add(category.Name);
                <li>
                    @Html.ActionLink(category.Name, "Category",new {id = category.Id})
                    @if (category.SubCategories.Any())
                    {
                        @ShowCategoryTree(category.SubCategories,names)
                    }

                </li>
            }
        }
    </ul>
}
<ul class="col-md-12 col-sm-4" style="display: block;">
    @ShowCategoryTree(Model,new HashSet<string>())
</ul>
