@model  SolveMath.Models.ViewModels.ForumIndexViewModel
@{
    ViewBag.Title = "Форум";
}

<h2>Форум математика</h2>
@Html.ActionLink("Нова тема", "Post", null, new { @class = "btn btn-primary" })
<div class="container">
    <div class="col-lg-3">
        @Html.Action("Categories")
    </div>
    <div class="col-lg-offset-2 col-lg-5">
        @Html.Action("Topics", Model.Page)

    </div>
</div>