@model IEnumerable<SolveMath.Models.ViewModels.TopicHeaderViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    @Html.Action("Categories");
</div>
@foreach (var topic in Model)
{
    <a>@topic.Title</a>
}

