@model IEnumerable<SolveMath.Models.ViewModels.CategoryNamesViewModel>
@{
    ViewBag.Title = "Създай тема";
}

<h2>Създаване на тема</h2>
<form method="post">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label" for="form-group-input">Заглавие</label>
        <input type="text" class="form-control" id="form-group-input" placeholder="Заглавие" name="Title">
    </div>
    <div class="form-group">
        <label class="control-label" for="form-group-input1">Съдържание</label>
        <textarea class="form-control" id="form-group-input1" name="Content"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="form-group-select">Избери категория</label>
        <select class="form-control" id="form-group-select" name="CategoryName">
            @foreach (var model in Model)
            {
                string name = model.Name;
                <option>@name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="form-group-input2">Тагове</label>
        <input type="text" class="form-control" id="form-group-input2" placeholder="Изберете тагове..." name="tagsnames">
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Създай"/>
    </div>
</form>